<h3 class="text-center my-4"><b>Async Await</b></h3>
<div class="container">
    <p class="lead">For better understanding, create a function and return some value from it. Like in my component, I
        created a function
        and I am returning a string
        <i>{{getRandomString()}}</i>. Now if we add the <b>async</b> keyword before this function, then this function
        will always
        return a promise.
    </p>
    <p class="text-muted"><i>{{getPromise()}}</i></p>
    <hr>
    <p class="lead"><b>Await</b> is also a keyword which waits until the promise gets settled and then it executes code
        further line by line,
        but till that time it stops the execution of code.
    </p>

    <div class="row text-center">
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-header">
                    <strong>Example 1 : Promise</strong>
                </div>
                <div class="card-body">
                    <button (click)="fetchDataWithPromise()" type="button" class="btn btn-primary mb-3">Buy
                        Laptop</button>
                    <div #div1 class="alert alert-info">Data</div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-header">
                    <strong>Example 2 : Async Await</strong>
                </div>
                <div class="card-body">
                    <button (click)="fetchDataWithAsyncAwait()" type="button" class="btn btn-primary mb-3">Buy
                        Laptop</button>
                    <div #div2 class="alert alert-info">Data</div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-header">
                    <strong>Example 3 : Fetch Api</strong>
                </div>
                <div class="card-body">
                    <button (click)="fetchPosts()" type="button" class="btn btn-primary mb-3">Buy Laptop</button>
                    <div #div3 class="alert alert-info">Data</div>
                </div>
            </div>
        </div>
    </div>
</div>