<section class="container mt-4">
    <app-operators-intro>
        <p heading>Concat Operator </p>
        The concat operator adds multiple streams sequentially. Once the first stream finishes emitting data, the
        second
        stream begins.
    </app-operators-intro>


    <div class="row">
        <article class="col-md-4 mb-4">
            <header>
                <h4>Tech Channel (5)</h4>
            </header>
            <hr>
            <div class="bg-light p-3 border rounded">
                <strong>Video List:</strong> 1, 2, 3, 4, 5
            </div>
        </article>

        <article class="col-md-4 mb-4">
            <header>
                <h4>Comedy Channel (3)</h4>
            </header>
            <hr>
            <div class="bg-light p-3 border rounded">
                <strong>Video List:</strong> 1, 2, 3
            </div>
        </article>

        <article class="col-md-4 mb-4">
            <header>
                <h4>News Channel (4)</h4>
            </header>
            <hr>
            <div class="bg-light p-3 border rounded">
                <strong>Video List:</strong> 1, 2, 3, 4
            </div>
        </article>
    </div>

    <div class="row justify-content-center mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Your Channel (Subscribers)</div>
                <div class="card-body">
                </div>
            </div>
        </div>
    </div>
</section>