<app-operators-intro>
    <p heading>Timer</p>
    Timer is combination of delay + Interval. It will not execute untill the dealy time. After that it keeps on emitting
    values until unsubscribe as we do with interval.
</app-operators-intro>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Uploading Videos</div>
            <div class="card-body">
                <app-data-list [dataList]="broadCastedVideoList"></app-data-list>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Total Videos</div>
            <div class="card-body">
                <p>{{totalPublishedVideos}}</p>
            </div>
        </div>
    </div>

</div>