<app-operators-intro>
    <p heading>toArray</p>
    toArray is used to convert any data to an array. We do this before subscribing to the data using pipe.
</app-operators-intro>
<!-- <div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">Laptop Companies using (Of) </div>
            <div class="card-body">
                <ul *ngFor="let company of laptopCompaniesList">
                    <li>{{company}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">Processor Comapnies using (From)</div>
            <div class="card-body">
                <ul *ngFor="let procesorCompany of processorCompaniesList">
                    <li>{{procesorCompany}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">Promise to Observable (From)</div>
            <div class="card-body">
                <p>{{messageFrompromise}}</p>
            </div>
        </div>
    </div>
</div> -->