<app-operators-intro>
    <p heading>Merge Map</p>
    Flattening Operator. It gets the stream and converts it to data. It is a coombination of map + megeAll
</app-operators-intro>

<div class="row">
    <div class="col-md-4">
        <strong>Example -01 | Map</strong>
        <hr>
        <p class="bg-light py-2 px-3 border rounded">
            <strong>Videos</strong> : ["Tech", "Comedy", "News"]
        </p>
        <hr>
        <ul *ngFor="let user of userListWithMap">
            <li>{{user.name ?? user.firstname }}</li>
        </ul>

    </div>
    <div class="col-md-4">
        <strong>Example -02 | map + MergeAll</strong>
        <hr>
        <p class="bg-light py-2 px-3 border rounded">
            <strong>Videos</strong> : ["Tech", "Comedy", "News"]
        </p>
        <hr>
        <ul *ngFor="let user of userListWithMapAndMergeAll">
            <li>{{user.name ?? user.firstname }}</li>
        </ul>

    </div>
    <div class="col-md-4">
        <strong>Example -03 | MergeMap</strong>
        <hr>
        <p class="bg-light py-2 px-3 border rounded">
            <strong>Videos</strong> : ["Tech", "Comedy", "News"]
        </p>
        <hr>
        <ul *ngFor="let user of userListWithMergeMap">
            <li>{{user.name ?? user.firstname }}</li>
        </ul>

    </div>


</div>