<app-operators-intro>
    <p heading>Merge Map</p>
    Flattening Operator. It gets the stream and converts it to data. It is a coombination of map + megeAll
</app-operators-intro>

<div class="row">
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-header">
                <strong>Example -01 | Map</strong>
            </div>
            <div class="card-body">
                <p class="bg-light py-2 px-3 border rounded">
                    <strong>Videos</strong> : {{userRoles}}
                </p>
                <hr>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" *ngFor="let user of userListWithMap">
                        {{user.name ?? user.firstname }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-header">
                <strong>Example -02 | map + MergeAll</strong>
            </div>
            <div class="card-body">
                <p class="bg-light py-2 px-3 border rounded">
                    <strong>Videos</strong> : {{userRoles}}
                </p>
                <hr>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" *ngFor="let user of userListWithMapAndMergeAll">
                        {{user.name ?? user.firstname }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-header">
                <strong>Example -03 | MergeMap</strong>
            </div>
            <div class="card-body">
                <p class="bg-light py-2 px-3 border rounded">
                    <strong>Videos</strong> : {{userRoles}}
                </p>
                <hr>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" *ngFor="let user of userListWithMergeMap">
                        {{user.name ?? user.firstname }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>