<mat-toolbar color="primary">
  <span class="title">{{isLoggedIn ? projectName : welcomeMsg }}</span>
  <span class="spacer"></span>
  <nav *ngIf="isLoggedIn" class="button-group">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="navigateToRxjsDashboard()">
        <mat-icon>trending_up</mat-icon>
        <span>RxJs Operators</span>
      </button>
      <button mat-menu-item (click)="navigateToPromiseDashboard()">
        <mat-icon>hourglass_empty</mat-icon>
        <span>Promises</span>
      </button>
      <button mat-menu-item (click)="navigateToHome()">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-menu-item (click)="logOut()">
        <mat-icon>exit_to_app</mat-icon>
        <span>LogOut</span>
      </button>
      <button mat-menu-item (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
        <span>Go Back</span>
      </button>
    </mat-menu>
  </nav>
</mat-toolbar>