<h3 class="mb-1"><b>Merge operator</b></h3>
<p>It adds streams together. It doesnot wait for first stream to get finished and so on,
    it adds immediately to the final array and combine all stream in a same way.</p>
<div class="row">
    <div class="col-md-4">
        <strong>Source -01 | Tech Channle(5)</strong>
        <hr>
        <p class="bg-light py-2 px-3 border rounded">
            <strong>Tech Video List</strong> : 1,2,3,4,5
        </p>
        <br>
    </div>
    <div class="col-md-4">
        <strong>Source -02 | Comedy Channle(3)</strong>
        <hr>
        <p class="bg-light py-2 px-3 border rounded">
            <strong>Comedy Video List</strong> : 1,2,3
        </p>
        <br>
    </div>
    <div class="col-md-4">
        <strong>Source -03 | News Channle(4)</strong>
        <hr>
        <p class="bg-light py-2 px-3 border rounded">
            <strong>News Video List</strong> : 1,2,3,4
        </p>
        <br>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header"> Your Channel (Subscriber)</div>
                <div class="card-body">
                    <app-data-list [dataList]="finalStreamData"></app-data-list>
                </div>
            </div>
        </div>
    </div>
</div>