<h3 class="mb-0"><b>Of & From</b></h3>
<p class="mb-0">Of is something that converts static values to observables. It creates stream from given data and
    execute accordingly. </p>
<p class="mb-0">From is something that converts almost anything to observable. </p>
<br>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">Laptop Companies using (Of) </div>
            <div class="card-body">
                <ul *ngFor="let company of laptopCompaniesList">
                    <li>{{company}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">Processor Comapnies using (From)</div>
            <div class="card-body">
                <ul *ngFor="let procesorCompany of processorCompaniesList">
                    <li>{{procesorCompany}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">Promise to Observable (From)</div>
            <div class="card-body">
                <p>{{messageFrompromise}}</p>
            </div>
        </div>
    </div>
</div>