<h3 class="mb-1"><b>Retry & RetryWhen (scan & Delay)</b></h3>
<p>Mainly used for api calls. If failed it tries for the given number of times.
    It calls the api again if failed for given Times but in RetryWhen we can call api after some delay and by adding
    some custom logic.</p>
<br>
<div class="row">
    <div class="col-md-6">
        <strong>Example Retry</strong>
        <hr>
        <table class="table table-striped" *ngIf="personObjRetry!=null">
            <tr>
                <th>Id</th>
                <td>{{personObjRetry.id}}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{personObjRetry.title}}</td>
            </tr>
            <tr>
                <th>Completed</th>
                <td>{{personObjRetry.completed}}</td>
            </tr>
        </table>
        <button class="btn btn-primary" (click)="getUserDetailsUsingRetry()">Get Data</button> <br>
        <p class="mt-2"> Retry Status :<strong>{{statusUsingRetry}}</strong></p>
    </div>

    <div class="col-md-6">
        <strong>Example Retry-When</strong>
        <hr>
        <table class="table table-striped" *ngIf="personRetryWhen!=null">
            <tr>
                <th>Id</th>
                <td>{{personRetryWhen.id}}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{personRetryWhen.title}}</td>
            </tr>
            <tr>
                <th>Completed</th>
                <td>{{personRetryWhen.completed}}</td>
            </tr>
        </table>
        <button class="btn btn-primary" (click)="getUserDetailsUsingRetryWhen()">Get Data </button>
        <p class="mt-2"> Retry-When Status :<strong>{{statusUsingRetryWhen}}</strong></p>
    </div>
</div>