<h3 class="mb-0"><b>Interval</b></h3>
<p>Interval is something that creates stream that keeps on executing after given interval. </p>
<br>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Uploading Videos</div>
            <div class="card-body">
                <ul *ngFor="let video of videoList">
                    <li>{{video}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Total Videos</div>
            <div class="card-body">
                    <p>{{publishedVideoCount}}</p>
            </div>
        </div>
    </div>

</div>