<app-operators-intro>
    <p heading>Interval</p>
    Interval is something that creates stream that keeps on executing after given interval.
</app-operators-intro>
<br>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Uploading Videos</div>
            <div class="card-body">
                <app-data-list [dataList]="videoList"></app-data-list>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Total Videos</div>
            <div class="card-body">
                <p>{{publishedVideoCount}}</p>
            </div>
        </div>
    </div>

</div>