<!-- <h3><strong>Observable Stream</strong></h3>
<ul>
    <li>User Input (Button click Event)</li>
    <li>Http Request</li>
    <li>Array</li>
    <li>Object</li>
</ul>
<h3><strong>Observable Handle</strong></h3>
<ul>
    <li>Data</li>
    <li>Error</li>
    <li>Completeion</li>
</ul>
<p> Subscribe gives three methods namely <br> .subscribe((data) => console.log(data), <br>
    (error) => console.log(error),<br>
    () => console.log('Complete')) </p> -->

<h3 class="mb-0"><b>FromEvent</b></h3>
<p>FromEvent operator allows us to create an observable from a DOM event</p>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Add Video
            </div>
            <div class="card-body">
                <button class="btn btn-primary" #addBtn>Add</button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Video List
            </div>
            <div class="card-body">
                <ul *ngFor="let videoCount of videosList">
                    <li> {{videoCount}} </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Window Resize
            </div>
            <div class="card-body">
                <p><b>Height :</b> {{windowSizeObject.innerheight}} </p>
                <p><b>Width : </b> {{windowSizeObject.innerwidth}} </p>
            </div>
        </div>
    </div>
</div>