<div class="container mt-4">
    <h3 class="text-primary"><strong>Observable Stream</strong></h3>
    <ul class="list-group mb-4">
        <li class="list-group-item">User Input (Button click Event)</li>
        <li class="list-group-item">Http Request</li>
        <li class="list-group-item">Array</li>
        <li class="list-group-item">Object</li>
    </ul>
    <h3 class="text-primary"><strong>Observable Handle</strong></h3>
    <ul class="list-group mb-4">
        <li class="list-group-item">Data</li>
        <li class="list-group-item">Error</li>
        <li class="list-group-item">Completion</li>
    </ul>
    <p class="text-secondary">Subscribe gives three methods namely:</p>
    <pre class="bg-light p-3">
            <code>
    .subscribe(
        (data) => console.log(data),
        (error) => console.log(error),
        () => console.log('Complete')
    )
            </code>
        </pre>
</div>



<app-operators-intro>
    <p heading>FromEvent</p>
    FromEvent operator allows us to create an observable from a DOM event
</app-operators-intro>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Add Video
            </div>
            <div class="card-body">
                <button class="btn btn-primary" #addBtn>Add</button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Video List
            </div>
            <div class="card-body">
                <app-data-list [dataList]="videosList"></app-data-list>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Window Resize
            </div>
            <div class="card-body">
                <p><b>Height :</b> {{windowSizeObject.innerheight}} </p>
                <p><b>Width : </b> {{windowSizeObject.innerwidth}} </p>
            </div>
        </div>
    </div>
</div>