<div class="my-3">
    <h3><strong>Debounce Time</strong></h3>
</div>

<!-- Example 01 -->
<div class="row mb-3 mx-1">
    <div class="col-md-6">
        <strong>Ex-01 <span class="text-primary">Debounce-Time</span></strong>
        <hr>
        <label for="searchInput1" class="col-form-label">Search...</label>
        <input #searchInput1 type="text" id="searchInput1" class="form-control form-control-sm" placeholder="Search...">
    </div>
</div>

<hr>

<!-- Example 02 -->
<div class="row mb-3 mx-1">
    <div class="col-md-6">
        <strong>Ex-02 <span class="text-primary">Debounce-Time + distinctUntilChanged</span></strong>
        <hr>
        <label for="searchInput2" class="col-form-label">Search...</label>
        <input #searchInput2 type="text" id="searchInput2" class="form-control form-control-sm" placeholder="Search...">
    </div>
</div>
