<div class="my-3">
    <h3 class="mb-0"><strong>Filter Operator</strong></h3>
    <p>Timer is a combination of delay and unsubscribe, similar to what we do with interval.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <strong>Example 1</strong>
        <hr>
        <div class="bg-light py-2 px-3 border rounded">
            <strong>Filter:</strong> by name length
        </div>
        <table class="table table-striped mt-2">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Gender</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of usersById">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.gender }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-4">
        <strong>Example 2</strong>
        <hr>
        <div class="bg-light py-2 px-3 border rounded">
            <strong>Filter:</strong> by gender
        </div>
        <table class="table table-striped mt-2">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Gender</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of usersByGender">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.gender }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
