<div style="margin: 10px;">
    <mat-grid-list cols="3" rowHeight="3:1">
        <mat-grid-tile routerLink="fromevent">FromEvent</mat-grid-tile>
        <mat-grid-tile routerLink="interval">Interval</mat-grid-tile>
        <mat-grid-tile routerLink="timer">Timer</mat-grid-tile>
        <mat-grid-tile routerLink="map">Map</mat-grid-tile>
        <!-- <mat-grid-tile routerLink="switchmap">Switch Map</mat-grid-tile> -->
        <mat-grid-tile routerLink="of-from">Of & From</mat-grid-tile>
        <mat-grid-tile routerLink="to-array">toArry</mat-grid-tile>
        <mat-grid-tile routerLink="custom-observable">Custom Observable</mat-grid-tile>
        <mat-grid-tile routerLink="pluck">Pluck</mat-grid-tile>
        <mat-grid-tile routerLink="filter">Filter</mat-grid-tile>
        <mat-grid-tile routerLink="retry">Retry Operator</mat-grid-tile>
        <mat-grid-tile routerLink="debounce-time">Debounce Time</mat-grid-tile>
        <mat-grid-tile routerLink="concat">Concat</mat-grid-tile>
        <mat-grid-tile routerLink="merge">Merge</mat-grid-tile>
    </mat-grid-list>
    <br>
</div>
